<%- include('partials/head') %>

<h1> Details: <%= details.name %></h1>
<section class="details">
    <article>
        <ul>
            <%for (var data in details){%>
            <li><%=data%>: <%=details[data]%></li>
            <%}%>
            </ul>
    </article>

</section>

    <a class="button" href="/<%=link%>">
        <p> Back to catogory</p>
    </a>


            <%- include('partials/footer') %>