<%- include('partials/head') %>

<h1> People </h1>
<section>
    <% for(let i=0; i < Data.length; i++) { %>
    <a href="/people/<%= Data[i].id%>">
        <article>
            <ul>
                <li>Naam: <%= Data[i].name %></li>
                <li>Hoogte: <%= Data[i].height %> CM</li>
                <li>Zwaarte: <%= Data[i].mass %> KG </li>
            </ul>
        </article>
    </a>
    <% } %>
</section>

<%- include('partials/footer') %>