<%- include('partials/head') %>

<h1> Planets </h1>
<section>
    <% for(let i=0; i < Data.length; i++) { %>
    <a href="/planets/<%= Data[i].id %>">
        <article>
            <ul>
                <li>Naam: <%= Data[i].name %></li>
                <li>Diameter: <%= Data[i].diameter %> </li>
                <li>Klimaat: <%= Data[i].climate %> </li>
            </ul>
        </article>
    </a>
    <% } %>
</section>

<%- include('partials/footer') %>