<%- include('partials/head') %>

<h1> Starships </h1>
<section>
    <% for(let i=0; i < Data.length; i++) { %>
    <a href="/starships/<%= Data[i].id %>">
        <article>
            <ul>
                <li>Naam: <%= Data[i].name %></li>
                <li>Crew: <%= Data[i].crew %>
                <li>
                <li>Lengte: <%= Data[i].length %></li>
            </ul>
        </article>
    </a>
    <% } %>
</section>

<%- include('partials/footer') %>