<%- include('partials/head') %>

<h1> Details: <%= details.name %></h1>
<section>
    <article>
        <ul>
            <%for (var data in details){%>
                <li><%=data%>:<%=details[data]%></li>    
                <%}%>
            </ul>
    </article>
</section>

<%- include('partials/footer') %>





