<%- include('partials/head') %>

<h1> Planets </h1>
<section>
    <% for(let i=0; i < planetsData.length; i++) { %>
    <a href="planets/<%= planetsData[i].id %>">
        <article>
            <ul>
                <li>Naam: <%= planetsData[i].name %></li>
                <li>Diameter: <%= planetsData[i].diameter %> </li>
                <li>Klimaat: <%= planetsData[i].climate %> </li>
            </ul>
        </article>
    </a>
    <% } %>
</section>

<%- include('partials/footer') %>